* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #5d3c5c;
}

.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.grid-container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    position: fixed;
    top: 0;
    width: 100%;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.grid-container4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.item-flex {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.item-flex1 {
    margin-top: 2em;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: #ffff;
}

.item-flex2 {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;

}

.item-flex3 {
    padding: 100px;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
}


#Header{
    background-color: #3c1e3d;
    color: #b28fd9;
    height: 70px;
}

#Im-Logo{
    width: 180px;
    height: 120px;
}

@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');

#Title {
    grid-column: 1 / -1;
    grid-row: 1 / span 8;
    font-family: 'Bungee', sans-serif;
    font-size: 3.1rem;
    color: #b28fd9;
    text-shadow: 6px 6px black;
    text-align: center;
}

#Tutorial-grid{
    grid-column: 1 / -1;
}

#Tutorial-title{
    grid-column: 1 / -1;
    font-family: 'Bungee', sans-serif;
    font-size: 2.4rem;
    color: #b28fd9;
    text-shadow: 6px 6px black;
    align-items: center;
}

#controles{
    grid-column: 1;
    border: solid;
    margin-top: 2em;
    border-color: #3c1e3d;
}

#video{
    grid-column: 2;
    border: solid;
    margin-top: 2em;
    border-color: #3c1e3d;
}