:root {
    --color-1: #2E0C61;
    --color-2: #D975FE;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-1);
    font-family: 'Ubuntu', sans-serif;
}

#main-background {
    background-size: cover;
    background-position: bottom center;
    filter: brightness(0.3);

    position: absolute;
    top: 2.5vh;
    left: 2.5%;
    height: 95vh;
    height: 95svh;
    width: 95%;
    border-radius: 50px;
}


main {
    position: relative;
    height: 100vh;
    height: 100svh;
    width: 100%;
    padding: 5vh 2.5%;
    margin: 0;
}

main .main-container {
    height: 100%;
    /* overflow: scroll; */
}

/* * Index */

#logo {
    max-width: 50%;
    margin: 0;
}

.container-fluid {
    padding: 1rem 2.5%;
}

#info {
    height: 90%;
    margin: 0;
}


.bg-main {
    background-color: var(--color-1);
}

.h {
    font-family: 'OCR A Extended', monospace;
    color: var(--color-2);
    font-weight: bolder;
}

.nav-row,
.row {
    margin: 0;
}

/* .row {
    margin-top: 5%;
    margin-bottom: 5%;
} */

.card {
    background-color: transparent;
    border: 0px;
}

.containerHistoria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.Item-Historia {
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#HeaderHistoria {
    font-family: 'OCR A Extended', monospace;
    color: var(--color-2);
    font-weight: bolder;
}

.section {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;

    display: flex;

    font-family: 'OCR A Extended', monospace;
    color: var(--color-2);
    font-weight: bolder;
}

.formInput,
.resultDisplay {
    flex: 2;
}

.section form {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.section form input {
    margin: 0.2em;
    max-width: 90%;
}

.resultDisplay p {
    margin: 1em;
}

table,
th,
td {
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}

th 
{
    font-weight:bold;
}

.chartContainer{
    border: 0;
    justify-content: center;
    display: flex;
    width: 100%;
}

.chartContainer canvas{
    flex-grow: 1;
    max-width: 40%; 
    max-height: 600px;
    border: 1px solid black;
    margin: 20px;
}