:root {
    --color-1: #5515B5;
    --color-2: #D975FE;
}

body {
    background-color: var(--color-1);
    font-family: 'Ubuntu', sans-serif;
}

@media (min-width: 576px) {
    .container-fluid {
        padding: 0 10%;
    }
}

@media (max-width: 575px) {
    .container-fluid {
        padding: 0 5%;
    }
}

#header {
    background-image: url(../assets/img/titleBackground.gif);
    background-size: cover;
    background-position: bottom center;
    padding: 15%;
}

#header-logo {
    max-width: 100%;
    max-height: 35vh;
    margin: 0;
}

.bg-main {
    background-color: var(--color-1);
}

.h {
    font-family: 'OCR A Extended', monospace;
    color: var(--color-2);
    font-weight: bolder;
}

.row {
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    background-color: transparent;
    border: 0px;
}

.containerHistoria{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.Item-Historia {
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#HeaderHistoria{
    font-family: 'OCR A Extended', monospace;
    color: var(--color-2);
    font-weight: bolder;
}

.section
{
    margin: 1em;
    padding: 1em;
    border: 1px solid black;

    display: flex;

    font-family: 'OCR A Extended', monospace;
    color: var(--color-2);
    font-weight: bolder;
}

.formInput, .resultDisplay
{
    flex: 2;
}

.section form{
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.section form input{
    margin: 0.2em;
    max-width: 90%;
}

.resultDisplay p{
    margin: 1em;
}

table, th, td 
{
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}

th 
{
    font-weight:bold;
}

.chartContainer{
    border: 0;
    justify-content: center;
    display: flex;
    width: 100%;
}

.chartContainer canvas{
    flex-grow: 1;
    max-width: 30%; 
    max-height: 600px;
    border: 1px solid black;
}